* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.header1 {
  width: 100%;
  height: 70px;
  background-color: lightblue;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoholder {
  width: 100px;
  height: 60px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.navholder {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navsholder{
  cursor: pointer;
}
.navsholder a{
  text-decoration: none;
  color: black;
}
.buttonholder {
  width: 120px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-right: 30px;
}
.buttonholder:hover {
  background-color: rgb(3, 3, 83);
  color: white;
  transition: all ease-in-out 0.6s;
}
